/* HEADER */

header div {
  display: flex;
  justify-content: space-between;
}
.pages > ul{
  display: flex;
  justify-content: space-between;
  align-items: anchor-center;
}

.pages {
  width: 100%;
}

ul{
  width: 100%;
} 

.pages > div {
  justify-content: space-between;
}

.logo-wrapper {
  max-width: 90px;
  height: 30px;
}

img {
  max-width: 100%;
}